@charset "utf-8";


.container { width: 100%; height: 100%; padding: 0 7%;  box-sizing: border-box;}
.hide {position: absolute; left: -9999px; width: 0; height: 0; overflow: hidden;}

/* 모바일 none */
.only_pc {display: none !important;}

#header {height: 74px; width: 100%; position: absolute; top: 0;  padding-top: 20px; border-bottom: 1px solid rgba(204, 204, 204, 0.5); box-sizing: border-box; z-index: 10000; }
#header h1 {width: 75px; height: 33px;}
#header h1 a {display: block; width: 100%; height: 100%;}   
#header h1 a img {display: block; width: 100%; height: 100%;}

.main_visual {width: 100%; overflow: hidden; }
.main_visual .introduction { padding: 146px 0 140px;background-color: #725EFF;}
.main_visual .introduction .container {position: relative;}
.main_visual .introduction .container > div h2 { font: 600 32px 'Noto Sans KR', sans-serif; width: 200px; color: #fff; margin-bottom: 35px; line-height: 38px; word-break: keep-all;}
.main_visual .introduction .container > div > span {display: block; width: 140px; padding: 3px 10px; height: 24px; margin-bottom: 10px; border-radius: 22px; border: 1px solid #fff;font: 300 16px 'Noto sans KR', sans-serif; line-height: 24px; text-align: center; color: #fff;}
.main_visual .introduction .container > div > span:nth-of-type(2) {width: 120px;}
.main_visual .introduction .container > div > span:nth-of-type(3) {width: 80px; margin-bottom: 20px;}
.main_visual .introduction .container > div p { margin-bottom: 20px; color: #FFF; font: 300 18px 'Noto Sans KR', sans-serif; line-height: 28px; word-break: keep-all;}
.main_visual .introduction .container > div a {display: block; width: 188px; height: 50px; border-radius: 25px; text-align: center; font: bold 24px 'Noto Sans KR', sans-serif;line-height: 50px; background-color:#FF7843; color:#fff; box-shadow: 5px 5px 10px #4E51CF;}
.main_visual .introduction .container div div {position: absolute; width: 215px; height: 352px; right: -18px; top: -20px;  background: url(../img/d_WPPA/main_img_icon_m.png) no-repeat center; background-size: cover; opacity: 0;}
.main_visual .introduction .container div div img {display: none;}
.main_visual .introduction .container > div > dl {position: absolute; bottom: -274px; width: 85%; color: #333; box-sizing: border-box; padding: 30px 25px; background-color: #FFF; border-radius: 29px; box-shadow: 0px 3px 6px #868C9A80; overflow: hidden; }
.main_visual .introduction .container > div > dl dt {float: left; width: 80px; font-family: 'Noto Sans KR', sans-serif; line-height: 28px; clear: left; }
.main_visual .introduction .container > div > dl dd {float: left; font-family: 'Noto Sans KR', sans-serif; line-height: 28px; font-weight: 300;}

.main_visual .portfolio_process {padding: 150px 0 46px ; background: url(../img/d_WPPA/maxwell-nelson-Ix64NPGxZoQ-unsplash_m.png) no-repeat center; background-size: cover;}
.main_visual .portfolio_process p.title { font: 300 24px 'Noto Sans KR', sans-serif; line-height: 30px; color: #333; margin-bottom: 36px; word-break: keep-all; box-sizing: border-box; padding-right: 20px;}
.main_visual .portfolio_process p.title em {color: #725EFF;}
.main_visual .portfolio_process ul { width: 296px; margin: 0 auto;}
.main_visual .portfolio_process ul li { width: 296px; height: 296px; border-radius: 50%;  border: 1px solid #725EFF;  box-sizing: border-box; padding: 50px 16px; text-align: center; position: relative; left: 30px; opacity: 0; }
.main_visual .portfolio_process ul li + li {margin-top: 20px;}
.main_visual .portfolio_process ul li strong {display: block; font: 600 20px 'Noto Sans KR', sans-serif; line-height: 26px; width: 170px; margin: 0 auto; word-break: keep-all; color: #333;}
.main_visual .portfolio_process ul li strong::after {content: ''; display: block; width: 250px; height: 1px; background-color: #725EFF; margin: 15px -40px ; }
.main_visual .portfolio_process ul li strong em {color: #725EFF;}
.main_visual .portfolio_process ul li p {font: 300 15px 'Noto Sans KR', sans-serif; line-height: 24px; word-break: keep-all;}

.process article {padding: 66px 0 34px; background-color: #FFD06E;}
.process article .container {position: relative;}
.process article p.title { font: 300 24px 'Noto Sans KR', sans-serif; line-height: 30px; color: #333; margin-bottom: 30px; word-break: keep-all; box-sizing: border-box; padding-right: 22px;}
.process article p.title em {font-weight: 600; color: #242E8D;}
.process article .container > p span {color: #fff; background-color: #2634B7; font: 400 16px 'Noto Sans KR', sans-serif; padding: 4px 14px;}
.process article .container > p span:last-child {background-color: #0B1465; padding: 4px 38px;}
.process article ul {margin-bottom: 20px; }
.process article ul li {width: 206px; height: 206px; border-radius: 50%; border: 1px solid #2634B7; box-sizing: border-box; padding: 60px 40px; word-break: keep-all; text-align: center; }
.process article ul li + li {margin-top: -23px;}
.process article ul li:nth-child(n+3) {border-color: #0B1465;}
.process article ul li:nth-child(n+3) strong {color: #0B1465;}
.process article ul li strong {font: 600 24px 'Noto Sans KR', sans-serif; color: #2634B7;}
.process article ul li p {font: 600 18px 'Noto Sans KR', sans-serif; color: #333;}
.process article p.bar {height: 938px; width: 50px; background: url(../img/d_WPPA/bar_f_m.png) no-repeat center top; background-size: contain; position: absolute; top: 180px; right: 40px;}
.process article p.bar img {width: 100%;}
.process article .container > p:last-child {font: 300 16px 'Noto Sans KR', sans-serif; line-height: 24px; color: #333;}
.process article .container > p:last-child strong:nth-child(2) {color: #2634B7;}
.process article .container > p:last-child strong:last-child {color: #0B1465;}


.make_portfolio {background-color: #F5F5FC; padding-top: 50px; position: relative; z-index: 10;}
.make_portfolio h2 {position: relative; font: 300 24px 'Noto Sans KR', sans-serif; line-height: 30px; color: #333; margin-bottom: 30px;}
.make_portfolio article:nth-child(1) .container {margin-bottom: 35px;}
.make_portfolio article:nth-child(1) .container div {width: 100%; height: 550px; background-color: #fff; border-radius: 14px; box-shadow: 6px 6px 15px #00000029; box-sizing: border-box; padding: 30px 20px; }
.make_portfolio article:nth-child(1) .container div h3 {font: 600 18px 'Noto Sans KR', sans-serif; color: #333; margin-bottom: 30px; text-align: center;}
.make_portfolio article:nth-child(1) .container div img {display: block; width: 100%; margin-bottom: 10px;}
.make_portfolio article:nth-child(1) .container div ul li:first-child {margin-bottom: 30px;}
.make_portfolio article:nth-child(1) .container div p {text-align: center; word-break: keep-all;}
.make_portfolio article:nth-child(1) .container div p strong {display: block; font: 600 16px 'Noto Sans KR', sans-serif; line-height: 24px; color: #322D2D;}
.make_portfolio article:nth-child(1) .container div p span {display: block;  font: 300 14px 'Noto Sans KR', sans-serif; line-height: 24px; color: #322D2D}
.make_portfolio .sw_banner_slide {padding-bottom: 30px; overflow: hidden;}
.make_portfolio .sw_banner_slide .container { box-sizing: border-box;}
.make_portfolio .sw_banner_slide .container h3 {font: 600 20px 'Noto Sans KR', sans-serif; color: #333; margin-bottom: 20px;}
.make_portfolio .sw_banner_slide .container .banner_slide {width: 100%; height: 250px; position: relative; }
.make_portfolio .sw_banner_slide .container .banner_slide .box {width: 100%; height: 100%;}
.make_portfolio .sw_banner_slide .container .banner_slide .slide {width: 100%; height: 248px; position: absolute; left: 0;}
.make_portfolio .sw_banner_slide .container .banner_slide .slide li {float: left; position: absolute; width: 100%;  height: 100%;}
.make_portfolio .sw_banner_slide .container .banner_slide .slide li img { width: 100%;}
.make_portfolio .sw_banner_slide .container .banner_slide .control {width: 150px; height: 32px; position: absolute; left: 50%; transform: translateX(-50%); bottom: 0;  }
.make_portfolio .sw_banner_slide .container .banner_slide .control a {float: left; box-shadow: 3px 3px 6px #221E6329; border-radius: 8px;}
.make_portfolio .sw_banner_slide .container .banner_slide .control a:last-child {float: right;}


.enrolment .recruit { padding: 50px 0 54px; background:url(../img/d_WPPA/bg_m.png) no-repeat center; background-size: cover; }
.enrolment .recruit h2 { font: 300 24px 'Noto Sans KR', sans-serif; line-height: 36px; color: #333; margin-bottom: 20px;}
.enrolment .recruit ul {padding-bottom: 10px; width: 322px; margin: 0 auto;} 
.enrolment .recruit ul li { width: 322px; height: 200px; box-sizing: border-box; padding: 42px 0 40px 20px; background-color: #fff; border-radius: 11px; box-shadow: 3px 3px 8px #B4833A7D; color: #333; word-break: keep-all; position: relative; left: -30px; opacity: 0;}
.enrolment .recruit ul li + li {margin-top: 20px;}
.enrolment .recruit ul li strong {display: block; margin-bottom: 16px;  font: Bold 18px 'Noto Sans KR', sans-serif; line-height: 28px;  }
.enrolment .recruit ul li p {font: 300 16px 'Noto Sans KR', sans-serif; line-height: 24px;}

.curriculum {background-color: #F5F5FC; position: relative; padding:60px 0;}
.curriculum h2 { font: 600 28px 'Montserrat'; line-height: 36px; color: #333; margin-bottom: 20px;}
.curriculum .container h3 {width: 100%; background-color: #725EFF; color: #fff; border-radius: 20px 20px 0px 0px; font: Bold 18px/38px 'Noto Sans KR', sans-serif; text-align: center;}
.curriculum .container h3:nth-of-type(2) {line-height: 24px; padding: 5px 0;}
.curriculum .container > ul {width: 100%; background-color: #fff; border-radius: 0 0 20px 20px; overflow: hidden; margin-bottom: 60px; box-sizing: border-box; padding: 18px 20px 0;}
.curriculum .container > ul:last-child {margin-bottom: 0;}
.curriculum .container > ul > li {padding: 30px 0;  overflow: hidden;background: url(../img/d_WPPA/border_line_m.png) no-repeat top center; background-size: 100%;}
.curriculum .container > ul > li:first-child {background: none; padding-top: 0;}
.curriculum .container > ul > li > strong { font: 600 16px 'Montserrat','Noto Sans KR', sans-serif; color: #3D24F2; margin-bottom: 10px; display: block;}
.curriculum .container > ul > li > div {overflow: hidden; margin-bottom: 26px;}
.curriculum .container > ul > li > div:last-child {margin-bottom: 0;}
.curriculum .container > ul > li > div strong {color: #725EFF; font: 600 14px 'Montserrat','Noto Sans KR', sans-serif; }
.curriculum .container > ul > li > div > strong {float: left; width: 15%; font: 600 14px 'Montserrat','Noto Sans KR', sans-serif; color: #725EFF; height: 100%; line-height: 30px; }
.curriculum .container > ul > li > div > ul { float: left; width: 75%; word-break: keep-all;}
.curriculum .container > ul > li > div > ul li {font: 300 14px 'Noto Sans KR', sans-serif; line-height: 24px; color: #333; padding-left: 15px; text-indent: -15px;}

.class_information {padding: 65px 0 80px; background: #725EFF; position: relative; z-index: 10; overflow: hidden;}
.class_information .instructor_info {overflow: hidden;margin-bottom: 70px;}
.class_information .instructor_info h2 {margin-bottom: 60px; font: Bold 28px 'Noto Sans KR', sans-serif; color: #fff;}
.class_information .instructor_info .box { position: relative; word-break: keep-all; font:300 14px 'Noto Sans KR', sans-serif; color: #333; border-radius: 16px; padding: 136px 38px 38px 20px; box-sizing: border-box;  background-color:#fff;}
.class_information .instructor_info .box::after {content: ''; width: 156px; height: 156px; display: block; background: url(../img/d_WPPA/WPPA_teacher_01.png) no-repeat center; background-size: cover; position: absolute ; top: -40px; left: 50%; transform: translateX(-50%);}
.class_information .instructor_info .box:nth-of-type(2)::after {background: url(../img/d_WPPA/WPPA_teacher_02.png) no-repeat center; background-size: cover;}
.class_information .instructor_info .box:first-of-type {margin-bottom: 55px;}
.class_information .instructor_info .box:first-of-type ul {margin-bottom: 24px;}
.class_information .instructor_info .box:first-of-type p:last-of-type {margin-bottom: 0;}
.class_information .instructor_info .box dl { box-sizing: border-box; overflow: hidden; margin-bottom: 20px;}
.class_information .instructor_info .box dl dt {float: left; margin-right: 5px;}
.class_information .instructor_info .box dl dd {float: left; font-weight: 600;}
.class_information .instructor_info .box p {margin-bottom: 24px;}
.class_information .instructor_info .box p strong {display: block;}
.class_information .instructor_info .box p span {display: block;}


.class_information article > h3 {font: Bold 24px/32px 'Noto Sans KR', sans-serif; margin-bottom: 30px; color: #fff;}
.class_information article .image_slide {position: relative; height: 360px; width: 100%;  }
.class_information article .image_slide .box {height: 100%; width: 100%; margin: 0 auto; overflow: hidden;}
.class_information article .image_slide .slide {height: 100%; width: 100%; position: relative;}
.class_information article .image_slide .slide li {width: 100%; min-height: 340px; height: 250px; position: absolute; border-radius: 20px; background-color: #fff; box-sizing: border-box;  padding: 34px 30px 30px 30px;}
.class_information article .image_slide .slide li strong {display: block; font: bold 16px/24px 'Noto Sans KR', sans-serif; margin-bottom: 20px;}
.class_information article .image_slide .slide li p {font: 300 16px/24px 'Noto Sans KR', sans-serif; word-break: keep-all; }
.class_information article .image_slide .indicator {position: absolute; bottom: -24px; left: 50%; transform: translateX(-50%); width: 126px; height: 10px; overflow: hidden;}
.class_information article .image_slide .indicator li {float: left; width: 9px; height: 9px; background-color: #fff; border-radius: 50%; overflow: hidden; text-indent: -9999px;}
.class_information article .image_slide .indicator li.on {background-color: #FFCC00;}
.class_information article .image_slide .indicator li a {display: block; width: 100%; height: 100%;}
.class_information article .image_slide .indicator li + li {margin-left: 30px;}


.deferred_payment {padding: 47px 0 52px; background: #EBE5DD url(../img/d_WPPA/00.png) no-repeat 200% 4%; background-size: 300px;}
.deferred_payment .container {overflow: hidden;}
.deferred_payment .container > p {margin-bottom: 30px; font: 300 24px/32px 'Noto sans KR',sans-serif; color: #333;}
.deferred_payment .container > p em {font-weight: 600;}
.deferred_payment .container > p strong {color: #F96432;}
.deferred_payment .container > p span {display: block; margin-top: 15px;}
.deferred_payment .container > p span a {display: inline-block; border-radius: 25px; padding: 0 15px; box-shadow: 2px 2px 4px #B1A48CA3; background-color: #F96432; color: #FFF; font: 300 16px 'Noto sans KR',sans-serif; line-height: 34px; vertical-align: text-bottom;}
.deferred_payment .container > p span a:first-of-type {margin-right: 10px; margin-left: 10px;}
.deferred_payment .container > div {height: 735px; background-color: #FCFBF9; border-radius: 22px; float: left; padding: 30px 12px 30px 26px; box-sizing: border-box;}
.deferred_payment .container > div > strong {display: block; font: 600 20px 'Noto sans KR',sans-serif; margin-bottom: 24px; color: #333;}
.deferred_payment .container > div ol {height: 90%; padding-left: 30px; box-sizing: border-box; position: relative;}
.deferred_payment .container > div ol::before {content: ''; display: block; position: absolute; top: 0; left: 0px; width: 20px; height: 100%; background-color: #FF8000; box-shadow: 0px 3px 6px #B4AA9D40; border-radius: 9px;} 
.deferred_payment .container > div ol li {color: #333; position: relative; height: 20%;}
.deferred_payment .container .prepaid ol li:nth-child(2) {height: 55%;}
.deferred_payment .container .prepaid {margin-bottom: 20px;}
.deferred_payment .container > div > ol > li::before {content: ''; display: block; width: 13px; height: 13px; background-color: #fff; border-radius: 50%; position: absolute; left: -27px; top: 5px; z-index: 10;}
.deferred_payment .container > div ol li > strong {font: 600 18px 'Noto sans KR',sans-serif;}
.deferred_payment .container > div ol li > p {font: 300 14px 'Noto sans KR',sans-serif; word-break: keep-all;}
.deferred_payment .container > div ol li ul li {font: 300 14px 'Noto sans KR',sans-serif; padding-left: 10px; text-indent: -10px; word-break: keep-all;}
.deferred_payment .container .deferred { position: relative; height: 746px;}
.deferred_payment .container .deferred ol::before {display: none;}
.deferred_payment .container .deferred ol li::after {content: ''; display: block; width: 20px; height: 120%; background-color: #FF8000; position: absolute; left: -30px; top: 0; box-shadow: 0px 3px 6px #B4AA9D40; border-radius: 9px;}
.deferred_payment .container .deferred ol li:nth-child(even)::after {background-color: #006700;}
.deferred_payment .container .deferred ol li:nth-child(1) {height: 27%;}
.deferred_payment .container .deferred ol li:nth-child(2) {height: 29%;}
.deferred_payment .container .deferred ol li:nth-child(3) {height: 19%;}
.deferred_payment .container .deferred ol li:nth-child(4) {height: 16%;}
.deferred_payment .container .deferred strong {margin-bottom: 63px;}
.deferred_payment .container .deferred > p {position: absolute; top: 70px; left:50%; transform: translateX(-50%); width: 85%; height: 33px; background-color: #fff; border: 1px solid #EBE5DD; border-radius: 10px;}
.deferred_payment .container .deferred > p span {float: left; font-size: 13px; line-height: 35px; margin-left: 8%; }
.deferred_payment .container .deferred > p span::after {float: right; margin: 15px 0 0 6px; content: ''; display: block; width: 25px; height: 6px; background-color: #FF8000; border-radius: 3px;}
.deferred_payment .container .deferred > p span:last-child::after {background-color: #006700;}
.deferred_payment .container .deferred > p span:last-child {margin: 0 8%;}


.application {background-color: #EBE5DD; color: #333; padding-bottom: 50px;}
.application p:last-of-type {font: 300 16px/24px 'Noto sans KR',sans-serif; margin-bottom: 40px; word-break: keep-all;}
.application p.title {font: 300 24px/32px 'Noto sans KR',sans-serif;  margin-bottom: 20px;}
.application span {font: 300 16px/24px 'Noto sans KR',sans-serif; display: block; margin-bottom: 20px; word-break: keep-all;}
.application span:last-of-type {overflow: hidden; margin-bottom: 0;}
.application .container > span a:first-of-type {display: block; width: 100%; height: 67px; margin-bottom: 20px; background: #fff url(../img/d_WPPA/message.png) no-repeat right center; background-size: contain; border-radius: 68px; overflow: hidden; font: 600 12px 'Noto sans KR',sans-serif; line-height: 67px; text-indent: 30px; transition: all 0.4s;}
.application .container > span a:last-of-type {display: block; width: 100%; height: 67px; background: #fff url(../img/d_WPPA/news_letter.png) no-repeat right center; background-size: 106px; border-radius: 68px; overflow: hidden; font: 600 12px 'Noto sans KR',sans-serif; line-height: 67px; text-indent: 30px; transition: all 0.4s;}


.application .layer {position: fixed; width: 100%; height: 100%; background-color:rgba(0, 0, 0, 0.5); left: 0; top: 0; z-index: 100000; display: none;}
.application .layer > div { position: absolute; width: 83%; left: 50%; top: 50%; border-radius: 31px; background-color: #fff; transform: translate(-50%, -50%); display: none; box-sizing: border-box; color: #333;  word-break: keep-all;}
.application .layer > div .close_btn {position: absolute; top: 20px; right: 30px;}
.application .layer > div > strong {font: 600 16px/20px 'Noto sans KR',sans-serif; margin-bottom: 15px; display: block;}
.application .layer > div p {font: 300 14px/22px 'Noto sans KR',sans-serif; margin-bottom: 32px;word-break: keep-all;}
.application .layer > div span {display: block;}
.application .layer > div span a {display: block; width: 187px; height: 50px;border-radius: 25px; background-color: #FF8000; color: #fff; font: 600 14px/50px 'Noto sans KR',sans-serif; text-align: center; float: left;}
.application .layer > .login { padding: 87px 32px 49px ; }
.application .layer > .login::before {content: url(../img/d_WPPA/login.png); position: absolute; top: -20px; left: 30px; }
.application .layer > .login span a:first-of-type {margin-bottom: 20px;}
.application .layer > .login span { margin: 0 auto;width: 187px; }
.application .layer > .m_completion { padding: 70px 37px 57px; }
.application .layer > .m_completion::before {content: url(../img/d_WPPA/m_completion.png); position: absolute; top: -20px; left: 30px; }
.application .layer > .m_completion p {margin-bottom: 0;}
.application .layer > .letter_apply { padding: 70px 28px 30px ; }
.application .layer > .letter_apply::before {content: url(../img/d_WPPA/news_icon.png); position: absolute; top: -20px; left: 30px; }
.application .layer > .letter_apply span {font: 300 14px/22px 'Noto sans KR',sans-serif; display: block; margin-bottom: 12px;}
.application .layer > .letter_apply ul {margin-bottom: 10px;}
.application .layer > .letter_apply ul li {font: 300 12px/18px 'Noto sans KR',sans-serif;}
.application .layer > .letter_apply form label:first-child {display: block; font: 600 14px 'Noto sans KR',sans-serif; margin-bottom: 26px;}
.application .layer > .letter_apply form label:first-child input {margin-right: 5px; vertical-align: bottom; width: 18px; height: 18px; }
.application .layer > .letter_apply form label:nth-child(n+2) {font: 600 14px 'Noto sans KR',sans-serif;}
.application .layer > .letter_apply form label:nth-child(n+2) input {margin-left: 20px; width: 152px; height: 28px; border: 1px solid #707070;}
.application .layer > .letter_apply form label:nth-child(3) input {margin-left: 7px; width: 75%;}
.application .layer > .letter_apply form label:nth-child(2) {margin-bottom: 10px; display: block;}
input[type=button] {-webkit-appearance:none;}
.application .layer > .letter_apply form .button {width: 160px; display: block; height: 46px; background-color: #FF8000; color: #fff; text-align: center; font: 600 14px 'Noto sans KR',sans-serif; line-height: 46px; border: 0; border-radius: 25px; margin: 30px auto 0;}
.application .layer.on {display: block;} 
.application .layer > .login.on {display: block;}
.application .layer > .letter_apply.on {display: block;}


.location {background-color: #F1F2F7; padding: 37px 0 60px;}
.location h2 {font: Bold 24px/35px 'Noto Sans Korean'; color: #333;}
.location p {font: 400 16px/26px 'Noto sans KR', sans-serif; color: #333; margin-bottom: 20px;}
.location p strong {font-weight: 600; color: #F5754A;}
.location .map iframe {width: 100%; height: 280px;}

.fixed_bar {width: 100%; height: 55px; position: fixed; bottom: 0; z-index: 1000; word-break: break-all;}
.bar_menu {width: 100%; height: 55px; background-color: #333;  color: #FFF;}
.bar_menu .only_m a {display: block; width: 100%; height: 100%; font: Bold 16px/55px 'Noto sans KR', sans-serif; text-align: center; }

#footer {background-color: #202124; padding: 30px 0 76px;}
#footer .logo {width: 75px; height: 33px; margin-bottom: 24px; }
#footer .logo img {display: block; width: 100%; height: 100%;}
#footer address {color: #7D7D7D; font: 400 14px/20px 'Noto Sans Korean'; margin-bottom: 26px;}
#footer .copy {color: #7D7D7D; font: 400 14px/20px 'Noto Sans Korean';}


@media screen and (max-width: 360px) {
    .main_visual .introduction .container div div { right: -60px; top: -40px; }
}


.main_visual .introduction.now .container div div {animation: fadeTop 0.6s 0.3s forwards; }
.main_visual .portfolio_process.now ul li:nth-child(1) {animation: fadeLeft 1s 0.5s forwards;}
.main_visual .portfolio_process.now ul li:nth-child(2) {animation: fadeLeft 1s 1.2s forwards;}
.main_visual .portfolio_process.now ul li:nth-child(3) {animation: fadeLeft 1s 1.9s forwards;}
.enrolment .recruit.now ul li:nth-child(1) {animation: fadeLeft 0.6s 0.5s forwards;}
.enrolment .recruit.now ul li:nth-child(2) {animation: fadeLeft 0.6s 1.2s forwards;}
.enrolment .recruit.now ul li:nth-child(3) {animation: fadeLeft 0.6s 1.9s forwards;}
.enrolment .recruit.now ul li:nth-child(4) {animation: fadeLeft 0.6s 2.6s forwards;}



@keyframes fadeLeft {0% {opacity: 0; } 100% {opacity: 1; left: 0;}}
@keyframes fadeTop {0% {opacity: 0; } 100% {opacity: 1; top: -40px;}}

